

.title {
  padding-top: 5%;
  margin-bottom: 10%;
}

.calculate{
  margin-bottom: 5%;
}

.future-table {
  /* visibility: hidden; */
}

#results {
  margin-bottom: 5%;
}

#bitcoin-help {
  margin-left: 2%;
}
