

.title {
  padding-top: 5%;
  padding-bottom: 5%;
}

.calculate{
  margin-bottom: 5%;
}

.future-table {
  /* visibility: hidden; */
}

#results {
  margin-bottom: 5%;
}

#bitcoin-help {
  margin-left: 2%;
}

#help-box {
  text-align: right;
}

/* .visible {
  display: none;
} */
