

.title {
  padding-top: 5%;
  padding-bottom: 5%;
}

.calculate{
  margin-bottom: 5%;
}


#results {
  margin-bottom: 5%;
}

#bitcoin-help {
  margin-left: 2%;
}

#help-box {
  text-align: right;
  display: none;

}

/* .visible {
  display: none;
} */

.btn {
  margin-top: 2%;
  margin-bottom: 2%;
}